* {
  margin: 0;
  padding: 0;
  /* clear: both; */
  box-sizing: border-box;
  font-family: "rubik", sans-serif;
}

.grid-container {
  margin: 0 auto;
  width: 1600px;

  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url("/dal.jpg");
  background-size: cover;
  background-position: center;
  /* backdrop-filter: blur(0.25px); */
  /* background-repeat: no-repeat; */

  display: grid;
  position: relative;
  grid-auto-flow: row;
  grid-template-rows: 0.5fr 2fr 2fr;
  grid-template-columns: 1fr 1fr 1fr;
  /* grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); */
  grid-gap: 10px;
  justify-content: center;
  align-items: center;
}

.grid-row-1 {
  /* background-color: rgba(0, 0, 0, 0.2); */
  /* border-radius: 10px; */
  grid-column: 1 / 4;
  grid-row: 1 / 2;

  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;

  /* Prevent flex items from overflowing */
  min-width: 0;
  overflow: VISIBLE;

  /* Fixed position */

  position: sticky;
  top: 0;
  z-index: 50;
  /* border-bottom: 2px solid rgb(153, 153, 153); */
}

.Restaurant-logo {
  justify-self: center;
  align-self: center;
  width: 280px;
}

.Restaurant-name {
  justify-self: center;
  align-self: center;
  /* margin-right: 50px; */
  width: 500px;
  height: 120px;
  padding: 0;
}

.title-nav-ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  gap: 100px;
  list-style-type: none;
  font-size: 18px;
  font-weight: light;
  text-transform: uppercase;
  font-style: light;
}

.title-nav-ul li a::first-letter {
  color: red;
  font-weight: bold;
}

.title-nav-ul li a {
  display: inline-block;
  text-decoration: none;
  color: #fff;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

a:visited {
  text-decoration: none;
}

a:hover {
  font-weight: bold;
}

a:active {
  font-weight: bold;
}

.grid-row-2 {
  grid-row: 2 / 3;
  grid-column: 1 / 4;
  margin-top: 5px;
}

footer {
  grid-row: 3;
  grid-column: 1 / 4;
  justify-self: center;
  align-self: self-end;
  text-align: center;
  color: #fff;
  margin-bottom: 25px;
}

.Save-food {
  color: #fff;
  font-size: 70px;
  text-transform: uppercase;
  margin-top: 200px;
  margin-left: 70px;
}

.Feed-text {
  color: #fff;
  font-size: 40px;
  text-transform: uppercase;
  font-style: light;
  margin-left: 70px;
  text-shadow: 2px 2px 5px rgba(187, 187, 187, 0.3);
}

.try-our-food {
  color: #fff;
  font-size: 20px;
  font-style: light;
  margin-left: 70px;
  margin-top: 10px;
  text-shadow: 2px 2px 5px rgba(187, 187, 187, 0.3);
}

.Menu-button {
  margin-top: 15px;
  margin-left: 70px;
  border: 0px solid #fff;
  border-radius: 20px;
  background-color: rgb(252, 147, 11);
  text-shadow: 2px 2px 5px rgba(223, 223, 223, 0.3);
  color: #fff;
  font-size: 19px;
  font-weight: 700;
  padding: 10px;
  /* font-family: "Ubuntu Mono", monospace; */
}

.Menu-button:hover {
  cursor: pointer;
  color: rgb(59, 59, 59);
  /* background-color: #e4e4e4; */
}
